/*
.dashboard-header{
    background:linear-gradient(135deg,#135CA8,#3998FA);
    color:#333;
    padding:30px 40px;
    border-radius:18px;
    margin-top:30px;
    box-shadow:
        0 15px 30px rgba(0,0,0,0.12),
        inset 0 0 0 1px rgba(255,255,255,0.4);
    backdrop-filter: blur(8px);
}

.dashboard-header h1{
    margin:0;
    font-size:32px;
    color: white;
}
.dashboard-header:hover{
    box-shadow:0 20px 40px rgba(0,0,0,.18);
    transition:.3s;
}

.dashboard-header p{
    margin-top:8px;
    color: white;
    font-size:16px;
}



        body{
            font-family: Arial;
            background:#eef2f5;
        }
        .card{
            display:inline-block;
            width:220px;
            padding:20px;
            margin:15px;
            background:white;
            border-radius:12px;
            text-align:center;
            box-shadow:0 4px 8px rgba(0,0,0,.1);
            transition:.3s;
        }
        .card:hover{
            transform:translateY(-5px);
        }
        .card a{
            text-decoration:none;
            color:#333;
            font-weight:bold;
        }

        body{
    font-family: 'Segoe UI', sans-serif;
    background:#f3f6f9;
}

.dashboard{
    display:flex;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;
}

.btn{
    width:220px;
    padding:25px;
    text-align:center;
    font-size:18px;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:600;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:0.4s;
}

.btn:hover{
    transform:translateY(-8px) scale(1.05);
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

 Individual colors 
.add{
    background:linear-gradient(135deg,#667eea,#764ba2);
}
.list{
    background:linear-gradient(135deg,#43cea2,#185a9d);
}
.attendance{
    background:linear-gradient(135deg,#f7971e,#ffd200);
    color:#333;
}
.logout{
    background:linear-gradient(135deg,#ff416c,#ff4b2b);
}
.action{
    padding:8px 14px;
    border-radius:6px;
    color:white;
    text-decoration:none;
    font-size:14px;
    margin-right:5px;
    transition:.3s;
}

.edit{
    background:#4CAF50;
}
.delete{
    background:#f44336;
}

.action:hover{
    opacity:.85;
    transform:scale(1.1);
}

.report-box{
    width:220px;
    padding:25px;
    border-radius:15px;
    display:inline-block;
    margin:15px;
    color:white;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    transition:.3s;
}
.report-box:hover{
    transform:scale(1.05);
}
.paid{
    background:linear-gradient(135deg,#11998e,#38ef7d);
}
.due{
    background:linear-gradient(135deg,#ff416c,#ff4b2b);
}


.chart-container{
   height: 300px;
    width: 300px;
    margin: auto;
}

*/